@tailwind base;
@tailwind components;
@tailwind utilities;


.react-datepicker__input-container,
.react-datepicker-wrapper,
.react-datepicker__input-container input {
    display: block;
    width: 100% !important;
    z-index: 20 !important;
    background-color: transparent !important;
}

.react-datepicker__input-container,
.react-datepicker-wrapper,
.react-datepicker__input-container input:focus {
    outline: none;
}

